@model TomatoSorterDashboard.Models.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Material Design for Bootstrap</title>
    <!-- Font Awesome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
    <!-- MDB -->
    <link rel="stylesheet" href="~/css/mdb.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>

    <!-- Main content -->
    <div class="container py-5">

        <h3>Tomato Dashboard</h3>
        <!-- Section: Summary -->
        <section class="mb-5">
            <div class="row gx-xl-5">
                

                <div class="col-xl-4 col-md-6 mb-4 mb-xl-0 p-xl-2">
                    <!-- Card -->
                    <a class="
                  d-flex
                  align-items-center
                  p-4
                  bg-glass
                  shadow-4-strong
                  rounded-6
                  text-reset
                  ripple
                  "
                       href="#"
                       data-ripple-color="hsl(0, 0%, 75%)">
                        <div class="p-3 bg-theme rounded-4">
                            <i class="fas fa-apple-whole fa-lg text-white fa-fw"></i>
                        </div>

                        <div class="ms-4">
                            <p class="text-muted mb-2">Ripe Tomatoes</p>
                            <p class="mb-0">
                                <span id="Ripe" class="h5 me-2"></span>
                            </p>
                        </div>
                    </a>
                    <!-- Card -->
                </div>

                <div class="col-xl-4 col-md-6 mb-4 mb-xl-0 p-xl-2">
                    <!-- Card -->
                    <a class="
                  d-flex
                  align-items-center
                  p-4
                  bg-glass
                  shadow-4-strong
                  rounded-6
                  text-reset
                  ripple
                  "
                       href="#"
                       data-ripple-color="hsl(0, 0%, 75%)">
                        <div class="p-3 bg-theme rounded-4">
                            <i class="fas fa-leaf fa-lg text-white fa-fw"></i>
                        </div>

                        <div class="ms-4">
                            <p class="text-muted mb-2">Half-Ripe Tomatoes</p>
                            <p class="mb-0">
                                <span id="HalfRipe" class="h5 me-2"></span>
                                <!--<small class="text-success text-sm"><i class="fas fa-arrow-up fa-sm me-1"></i>23,58%</small>-->
                            </p>
                        </div>
                    </a>
                    <!-- Card -->
                </div>

                <div class="col-xl-4 col-md-6 mb-4 mb-xl-0 p-xl-2">
                    <!-- Card -->
                    <a class="
                  d-flex
                  align-items-center
                  p-4
                  bg-glass
                  shadow-4-strong
                  rounded-6
                  text-reset
                  ripple
                  "
                       href="#"
                       data-ripple-color="hsl(0, 0%, 75%)">
                        <div class="p-3 bg-theme rounded-4">
                            <i class="fas fa-seedling fa-lg text-white fa-fw"></i>
                        </div>

                        <div class="ms-4">
                            <p class="text-muted mb-2">Unripe Tomatoes</p>
                            <p class="mb-0">
                                <span id="Unripe" class="h5 me-2"></span>
                            </p>
                        </div>
                    </a>
                    <!-- Card -->
                </div>

                <div class="col-xl-4 col-md-6 mb-4 mb-xl-0 p-xl-2">
                    <!-- Card -->
                    <div class="
                  d-flex
                  align-items-center
                  p-4
                  bg-glass
                  shadow-4-strong
                  rounded-6
                  text-reset
                  ripple
                  "
                         data-ripple-color="hsl(0, 0%, 75%)">
                        <div class="p-3 bg-theme rounded-4">
                            <i class="fas fa-box-open fa-lg text-white fa-fw"></i>
                        </div>

                        <div class="ms-4">
                            <p class="text-muted mb-2">Total of Good Tomatoes</p>
                            <p class="mb-0">
                                <span id="Total" class="h5 me-2"></span>
                            </p>
                        </div>
                    </div>
                    <!-- Card -->
                </div>

                <div class="col-xl-4 col-md-6 mb-4 mb-xl-0 p-xl-2">
                    <!-- Card -->
                    <a class="
                  d-flex
                  align-items-center
                  p-4
                  bg-glass
                  shadow-4-strong
                  rounded-6
                  text-reset
                  ripple
                  "
                       href="#"
                       data-ripple-color="hsl(0, 0%, 75%)">
                        <div class="p-3 bg-theme rounded-4">
                            <i class="fas fa-dumpster fa-lg text-white fa-fw"></i>
                        </div>

                        <div class="ms-4">
                            <p class="text-muted mb-2">Total of Defect Tomatoes</p>
                            <p class="mb-0">
                                <span id="Defect" class="h5 me-2"></span>
                            </p>
                        </div>
                    </a>
                    <!-- Card -->
                </div>

            
            </div>
        </section>
        <!-- Section: Summary -->

        <h3>Data Table</h3>
        <!-- Table -->
        <section class="mb-5">
            <div class="table-responsive bg-glass shadow-4-strong rounded-6">
                <table class="table table-borderless table-hover table-transparent
                       align-middle
                       mb-0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Tomatoes![0].DateScanned)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Tomatoes![0].Ripe)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Tomatoes![0].HalfRipe)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Tomatoes![0].Unripe)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Tomatoes![0].Defect)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Tomatoes![0].Total)
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model.Tomatoes != null)
                        {
                            @foreach (var item in Model.Tomatoes!)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateScanned)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Ripe)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HalfRipe)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Unripe)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Defect)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Total)
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </section>

    </div>

    <script type="text/javascript" src="~/js/mdb.umd.min.js"></script>
    <!-- Custom scripts -->
    
</body>
</html>
@section Scripts{
    <script src="https://www.gstatic.com/firebasejs/10.10.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.10.0/firebase-firestore-compat.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyBj9imOuZYvXUvmoh_iJrIp5t3ZAb7VrGo",
            authDomain: "tomato-sorter-dashboard.firebaseapp.com",
            databaseURL: "https://tomato-sorter-dashboard-default-rtdb.firebaseio.com",
            projectId: "tomato-sorter-dashboard",
            storageBucket: "tomato-sorter-dashboard.appspot.com",
            messagingSenderId: "308297171463",
            appId: "1:308297171463:web:522b7858e058d5f8f2a0a2",
            measurementId: "G-6NRRLLXZHD"
        };

        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);


        // Initialize Cloud Firestore and get a reference to the service
        const db = firebase.firestore();

        
        db.collection("tomatoes")
            .onSnapshot((querySnapshot) => {
                let ripe = 0
                let halfripe = 0
                let unripe = 0
                let defect = 0
                let total = 0
                querySnapshot.forEach((doc) => {
                    const tomatoData = doc.data();
                    ripe += tomatoData.Ripe;
                    halfripe += tomatoData.HalfRipe;
                    unripe += tomatoData.Unripe;
                    defect += tomatoData.Defect;
                    total = ripe + halfripe + unripe;

                    document.getElementById("Ripe").textContent = ripe;
                    document.getElementById("HalfRipe").textContent = halfripe;
                    document.getElementById("Unripe").textContent = unripe;
                    document.getElementById("Defect").textContent = defect;
                    document.getElementById("Total").textContent = total;
                });
            });
    </script>
}