
@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Material Design for Bootstrap</title>
    <!-- Font Awesome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
    <!-- MDB -->
    <link rel="stylesheet" href="~/css/mdb.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <!-- Main content -->
    <div class="container py-5">
        <!-- Section: Summary -->
        <section class="mb-5">
            <div class="row gx-xl-5">
                <div class="col-xl-4 col-md-6 mb-4 mb-xl-0 p-xl-2">
                    <!-- Card -->
                    <div class="
                  d-flex
                  align-items-center
                  p-4
                  bg-glass
                  shadow-4-strong
                  rounded-6
                  text-reset
                  ripple
                  "
                       data-ripple-color="hsl(0, 0%, 75%)">
                        <div class="p-3 bg-theme rounded-4">
                            <i class="fas fa-box-open fa-lg text-white fa-fw"></i>
                        </div>

                        <div class="ms-4">
                            <p class="text-muted mb-2">Total Tomatoes</p>
                            <p class="mb-0">
                                <span class="h5 me-2">@ViewBag.Total</span>
                            </p>
                        </div>
                    </div>
                    <!-- Card -->
                </div>

                <div class="col-xl-4 col-md-6 mb-4 mb-xl-0 p-xl-2">
                    <!-- Card -->
                    <a class="
                  d-flex
                  align-items-center
                  p-4
                  bg-glass
                  shadow-4-strong
                  rounded-6
                  text-reset
                  ripple
                  "
                       href="#"
                       data-ripple-color="hsl(0, 0%, 75%)">
                        <div class="p-3 bg-theme rounded-4">
                            <i class="fas fa-apple-whole fa-lg text-white fa-fw"></i>
                        </div>

                        <div class="ms-4">
                            <p class="text-muted mb-2">Ripe</p>
                            <p class="mb-0">
                                <span class="h5 me-2">@ViewBag.Ripe</span>
                              
                            </p>
                        </div>
                    </a>
                    <!-- Card -->
                </div>

                <div class="col-xl-4 col-md-6 mb-4 mb-xl-0 p-xl-2">
                    <!-- Card -->
                    <a class="
                  d-flex
                  align-items-center
                  p-4
                  bg-glass
                  shadow-4-strong
                  rounded-6
                  text-reset
                  ripple
                  "
                       href="#"
                       data-ripple-color="hsl(0, 0%, 75%)">
                        <div class="p-3 bg-theme rounded-4">
                            <i class="fas fa-leaf fa-lg text-white fa-fw"></i>
                        </div>

                        <div class="ms-4">
                            <p class="text-muted mb-2">Half-Ripe</p>
                            <p class="mb-0">
                                <span class="h5 me-2">@ViewBag.HalfRipe</span>
                                
                            </p>
                        </div>
                    </a>
                    <!-- Card -->
                </div>

                <div class="col-xl-4 col-md-6 mb-4 mb-xl-0 p-xl-2">
                    <!-- Card -->
                    <a class="
                  d-flex
                  align-items-center
                  p-4
                  bg-glass
                  shadow-4-strong
                  rounded-6
                  text-reset
                  ripple
                  "
                       href="#"
                       data-ripple-color="hsl(0, 0%, 75%)">
                        <div class="p-3 bg-theme rounded-4">
                            <i class="fas fa-seedling fa-lg text-white fa-fw"></i>
                        </div>

                        <div class="ms-4">
                            <p class="text-muted mb-2">Unripe</p>
                            <p class="mb-0">
                                <span class="h5 me-2">@ViewBag.Unripe</span>
                                
                            </p>
                        </div>
                    </a>
                    <!-- Card -->
                </div>

                <div class="col-xl-4 col-md-6 mb-4 mb-xl-0 p-xl-2">
                    <!-- Card -->
                    <a class="
                  d-flex
                  align-items-center
                  p-4
                  bg-glass
                  shadow-4-strong
                  rounded-6
                  text-reset
                  ripple
                  "
                       href="#"
                       data-ripple-color="hsl(0, 0%, 75%)">
                        <div class="p-3 bg-theme rounded-4">
                            <i class="fas fa-dumpster fa-lg text-white fa-fw"></i>
                        </div>

                        <div class="ms-4">
                            <p class="text-muted mb-2">Defect</p>
                            <p class="mb-0">
                                <span class="h5 me-2">@ViewBag.Defect</span>
                                
                            </p>
                        </div>
                    </a>
                    <!-- Card -->
                </div>

            
            </div>
        </section>
        <!-- Section: Summary -->

        <section class="mb-5">
            <div class="bg-glass shadow-4-strong rounded-6 h-100 p-4">
                <div class="border-bottom mb-4">
                    <div class="row align-items-center">
                        <div class="col-6 mb-4 mb-md-0">
                            <p class="text-muted mb-2">Toggles</p>
                        </div>
                    </div>
                </div>

                <div class="form-check form-switch mb-2">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchFeeder" />
                    <label class="form-check-label" for="flexSwitchCheckDefault">Feeder</label>
                </div>

                <div class="form-check form-switch mb-2">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchPower" />
                    <label class="form-check-label" for="flexSwitchCheckDefault">Power</label>
                </div>

                <div class="form-check form-switch mb-2">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchAI" />
                    <label class="form-check-label" for="flexSwitchCheckDefault">AI</label>
                </div>
            </div>
        </section>
    </div>

    <script type="text/javascript" src="~/js/mdb.umd.min.js"></script>
    <!-- Custom scripts -->
</body>
</html>